<!doctype html>
<html lang="fr">

<head>
  <link rel="icon" type="image/png" href="/images/logo_therasoft.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>API Mise à Jour</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/rest.css">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <a class="navbar-brand" href="/">
        <img src="/images/logo_therasoft.png" style="width: 70px;
                                                   height: 70px;"/>Accueil</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/update">MAJ TOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showTable">Organismes</a>
        </li>
      </ul>
    </nav>